In [10]:
# 시리즈 : 1차원 배열  -> index , value 존재

import pandas as pd # pandas 자료구조는 series 와 dataframe이 존재

In [11]:
dict_data = {'a': 1, 'b': 2, 'c': 3}
list_data = [1,2,3]

srd = pd.Series(dict_data)
srl = pd.Series(list_data)

print(type(dict_data), dict_data)
print(type(srd), '\n', srd)

print(type(list_data), list_data)
print(type(srl), '\n', srl)

<class 'dict'> {'a': 1, 'b': 2, 'c': 3}
<class 'pandas.core.series.Series'>
 a    1
b    2
c    3
dtype: int64
<class 'list'> [1, 2, 3]
<class 'pandas.core.series.Series'>
 0    1
1    2
2    3
dtype: int64

In [12]:
# 인덱스 확인

print('srd.index', srd.index)
print('srl.index', srl.index)

# 시리즈의 값을 확인
print('srd.values', srd.values)
print('srl.values', srl.values)

srd.index Index(['a', 'b', 'c'], dtype='object')
srl.index RangeIndex(start=0, stop=3, step=1)
srd.values [1 2 3]
srl.values [1 2 3]

In [13]:
# 각 자료의 원소 선택
# srl[idx_start : end] start 포함, end 포함 안함
sr_data = pd.Series(list(range(10)))
sr_data[1:4]
sr_key = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e':5})

srd['a']

1

In [14]:
print(sr_key[['a', 'b']])
print(sr_key[[0,2]])

a    1
b    2
dtype: int64
a    1
c    3
dtype: int64

In [15]:
sr_list = pd.Series(list(range(5)), index = ['a', 'b', 'c', 'd', 'x'])
sr_list

a    0
b    1
c    2
d    3
x    4
dtype: int64

In [ ]:
# 마지막 자료를 출력 : 인덱스명과 첨자 둘다
# 1번째부터 3번째 까지의자료 출력
# 인덱스명 'b' 와 'd' 의 값 출력

In [29]:

print(sr_list[-1], sr_list['x'])
print(sr_list[1:3],'\t', sr_list['b':'x'])
print(sr_list[['b', 'd']])

4 4
b    1
c    2
dtype: int64 	 b    1
c    2
d    3
x    4
dtype: int64
b    1
d    3
dtype: int64

In [106]:
# dataframe : 2차원, pandas.DataFrame(data(2차원), [input= , columns=])
# dictionary 데이터로 데이터프래임 생성

dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9]}

df = pd.DataFrame(dict_data)
df

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [130]:
# dataframe -> index 명과 column 명을 부여

df = pd.DataFrame([[15,'남', '수리중'], [18, '여', '덕명중']],
                    index = ['준서', '예은'],
                    columns = ['나이', '성별', '학교'])
df

    나이 성별   학교
준서  15  남  수리중
예은  18  여  덕명중

In [140]:
# 인덱스명을 변경 -> 행 인덱스, 열 이름
# 객체명.index = 새로운 인덱스명
# 객체명.columns = 새로운 컬럼명

df.index = ['a', 'b', 'c']
df
df.columns = ['연령', '남녀', '소속']
df

   연령 남녀   소속
a  15  남  수리중
b  18  여  덕명중
c  17  남  덕칠중

In [144]:

# 일부 인덱스명만 수정
# 객체명.rename(index = {기존인덱스: 새로운 인덱스, ...})
# 객체명.rename(columns = {기존컬럼명: 새로운 컬럼명, ...})

# '남녀'를 '성별'로 컬럼 변경 'a' -> 준서로 변경

df.rename(index = {'a' : '준서'}, columns = {'남녀': '성별' }, inplace = True)
df

    연령 성별   소속
준서  15  남  수리중
b   18  여  덕명중
c   17  남  덕칠중
철수  17  남  덕칠중

In [145]:
# 새로운 행을 추가 df.loc['인덱스명'] = [값, ....] 또는 df.인덱스명 = 값
df.loc['철수'] = [17, '남', '덕칠중']
print(df)

    연령 성별   소속
준서  15  남  수리중
b   18  여  덕명중
c   17  남  덕칠중
철수  17  남  덕칠중

In [148]:
# 행과 열을 삭제 
# 행 삭제 -> 객체.drop(행 인덱스 또는 배열, axis = 0)
# 열 삭제 -> 객체.drop(열 이름 또는 배열, axis = 1)

df.drop('준서', axis = 0)
df.drop('성별', axis = 1)

    연령   소속
준서  15  수리중
b   18  덕명중
c   17  덕칠중
철수  17  덕칠중

In [ ]:
# 이름 키로, 국어 영어 수학 과학 점수를 값으로, 입력 받아 dictioary에 저장한 후
# 해당 자료를 데이터프레임으로 전환 -> 인덱스명은 이름으로

In [163]:
students = {}
def create_student():
    while True:
        name = input('이름 입력 > ')
        if name == 'q' or name == 'ㅂ':
            break
        score = list(map(int, input('점수 입력 > ').split()))
        students[name] = score

In [166]:
create_student()
students

df = pd.DataFrame.from_dict(students, orient = 'index')
df

이름 입력 > ㅅ
점수 입력 > 20 20 20 20
이름 입력 > ㅐ
점수 입력 > 30 30 30 30
이름 입력 > ㅂ

    0   1   2   3
e  10  10  10  10
r  20  20  20  20
t  10  10  10  10
ㅅ  20  20  20  20
ㅐ  30  30  30  30

In [ ]:
# 데이터프레임은 2차원 : 시리즈가 여러개
# pandas.DataFrame(2차원배열 또는 딕셔너리 index = , columns = )
# 딕셔너리 key가 컬럼명으로 됨
# 딕셔너리의 키를 인덱스명으로 지정하면서 데이터프레임으로 변환
# pandas.DataFrame.from_dict(딕셔너리데이터, origin = 'index')

# 데이터프레임의 특정 컬럼을 인덱스로 변환
# 데이터프레임.set_index('컬럼명')

# 인덱스를 변경 : 데이터프레임.index = [인덱스명, ....]
# 컬럼명을 변경 : 데이터프레임.columns = [컬럼명, ....]
# 일부 인덱스 이름을 변경 : 데이터프레임.rename(index = {old_idx: new_idx, ...}, inplace=)
# 일부 컬럼명 이름을 변경 : 데이터프레임.rename(columns = {old_idx: new_col, ...}, inplace=)


# 행을 삭제 : 데이터프레임.drop(행 인덱스 또는 배열, axis = 0)
# 열을 삭제 : 데이터프레임.drop(열 이름 또는 배열, axis = 1)

In [169]:
# 데이터프레임 원소 선택 방법

exam_data = {'수학' : [90,80,20], 
             '영어': [99,90,30], 
             '음악': [54,56,34],
             '체육': [100,90,100]}
df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)

    수학  영어  음악   체육
서준  90  99  54  100
우현  80  90  56   90
인아  20  30  34  100

In [179]:
# 행 인덱스명을 사용하여 1개 행 선택 ('서준')
print(df.loc['서준'])
# 행 인덱스(정수)를 사용하여 1개 행 선택 (0행)
print(df.iloc[0])

# 두개의 행을 선택 '서준', '우현'
print(df.loc[['서준', '우현']])
print(df.iloc[[0, 1]])

# 범위를 선택 '서준' ~ '우현'
print(df.loc['서준': '우현']) # '우현' 포함
print(df.iloc[0:1]) # 1은 포함 안함

수학     90
영어     99
음악     54
체육    100
Name: 서준, dtype: int64
수학     90
영어     99
음악     54
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  99  54  100
우현  80  90  56   90
    수학  영어  음악   체육
서준  90  99  54  100
우현  80  90  56   90
    수학  영어  음악   체육
서준  90  99  54  100
우현  80  90  56   90
    수학  영어  음악   체육
서준  90  99  54  100

In [192]:
# 컬러(열)을 선택하는 방법 : df.컬럼명 또는 df['컬럼명']

print(df.수학,'\n', df['수학'])
print(df[['수학', '음악']])

서준    90
우현    80
인아    20
Name: 수학, dtype: int64
 서준    90
우현    80
인아    20
Name: 수학, dtype: int64
    수학  음악
서준  90  54
우현  80  56
인아  20  34

In [195]:
# 범위 슬라이싱 : 객체.iloc[start : end : setp]
df.iloc[0:3:1]
df.iloc[: : -1]
df.iloc[: : 2]

    수학  영어  음악   체육
서준  90  99  54  100
인아  20  30  34  100

In [228]:
# 데이터프레임의 각 원소를 선택
# 인덱스 이름 : 데이터프레임 객체.loc[행 인덱스명, 컬럼명]
# 정수 위치 인덱스 : 데이터프레임 객체.iloc[행번호, 열 번호]

# 서준의 영어 점수를 출력

print(df.loc['서준', '영어'], df.iloc[0,1])


# 서준과 인아의 영어와 음악 점수를 출력
print(df.loc[['서준', '인아', '우현'], ['영어', '음악']])

# 서준부터 인아까지, 수학부터 음악까지

print(df.loc['서준' : '인아', '수학' : '음악'])

# 서준의 수학과 체육

print(type(df.loc['서준', ['수학', '체육']])) # series
print(type(df.loc[['서준'], ['수학', '체육']])) # dataframe
print(df.iloc[0, [0,3]])

# 새로운 행 추가
# df.loc['철수'] = [80, 100, 90, 100] 
# df

# 새로운 열 추가
df['국어'] = [100, 30, 90, 100]
df

# 기존의 행을 복사해서 추가
df.loc['추가'] = df.loc['서준']
df

99 99
    영어  음악
서준  99  54
인아  30  34
우현  90  56
    수학  영어  음악
서준  90  99  54
우현  80  90  56
인아  20  30  34
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
수학     90
체육    100
Name: 서준, dtype: int64

    수학   영어  음악   체육   국어
서준  90   99  54  100  100
우현  80   90  56   90   30
인아  20   30  34  100   90
철수  80  100  90  100  100
추가  90   99  54  100  100

In [230]:
df = pd.DataFrame(columns = ['kor', 'eng', 'math'])
df

Empty DataFrame
Columns: [kor, eng, math]
Index: []

In [ ]:
# 이름, 국어, 영어, 수학, 점수를 입력 받아 이름을 인덱스로 데이터프레임에 저장
# df 을 출력
# 이름을 입력 받아 데이터프레임의 자료를 검색해서 출력
# 이름과 과목을 입력 받아 데이터 출력
# 자료 추가

In [231]:

def create_score():
    while True:
        name = input('이름 입력  >')
        if name == 'q' or name == 'ㅂ':
            break
        score = list(map(int, input('3과목 점수 입력 > ').split()))
        score_df.loc[name] = score
        
def search_score():
    s_name = input('검색 할 이름 입력 >')
    if s_name in score_df.index:
        print('{} : {}'.format(s_name, score_df.loc[s_name], end=''))


def search_title():
    s_name = input('검색 할 이름 입력 >')
    if not s_name in score_df.index:
        print('검색하고자 하는 이름 없음')
        return
    
    s_title = input('검색 할 과목 입력 >')
    if s_title in score_df.columns:
        return score_df.loc[s_name, s_title]
    else:
        print('검색하고자 하는 과목 없음')
        return
        
def add_score():
    name = input('추가 할 이름 입력 >')
    if name in score_df.index:
        print('존재하는 자료입니다.')
        return
    score = list(map(int, input('3과목 점수 입력 >').split()))
    score_df.loc[name] = score

In [232]:
score_df = pd.DataFrame(columns = ['kor', 'eng', 'math'])
create_score()
search_score()
print('검색한 과목의 점수는 :', search_title())
add_score()

이름 입력  >a
3과목 점수 입력 > 10 10 10
이름 입력  >b
3과목 점수 입력 > 20 20 20
이름 입력  >c
3과목 점수 입력 > 30 30 30
이름 입력  >q
검색 할 이름 입력 >a
a : kor     10
eng     10
math    10
Name: a, dtype: object
검색하 할 이름 입력 >b
검색 할 과목 입력 >kor
검색한 과목의 점수는 : 20
추가 할 이름 입력 >d
3과목 점수 입력 >40 40 40